In [1]:
import pandas as pd
import numpy as np

### Label Encoder

In [15]:
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Type'])

In [16]:
bridge_df

  Bridge_Type
0        Arch
1        Beam
2       Truss
3  Cantilever
4   Tied Arch
5  Suspension
6       Cable

In [17]:
bridge_df.dtypes

Bridge_Type    object
dtype: object

In [18]:
bridge_df['Bridge_Type'] = bridge_df['Bridge_Type'].astype('category')

In [19]:
bridge_df.dtypes

Bridge_Type    category
dtype: object

Encode the categories

In [20]:
bridge_df['Bridge_Type_cat'] = bridge_df["Bridge_Type"].cat.codes

In [21]:
bridge_df

  Bridge_Type  Bridge_Type_cat
0        Arch                0
1        Beam                1
2       Truss                6
3  Cantilever                3
4   Tied Arch                5
5  Suspension                4
6       Cable                2

In [24]:
bridge_df['Bridge_Type'].cat.categories

Index(['Arch', 'Beam', 'Cable', 'Cantilever', 'Suspension', 'Tied Arch',
       'Truss'],
      dtype='object')

In [25]:
bridge_df['Bridge_Type'].cat.ordered

False

Using scikit learn library

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
labelencoder = LabelEncoder()

In [28]:
bridge_df['Bridge_Type_Label'] = labelencoder.fit_transform(bridge_df['Bridge_Type'])

In [29]:
bridge_df

  Bridge_Type  Bridge_Type_cat  Bridge_Type_Label
0        Arch                0                  0
1        Beam                1                  1
2       Truss                6                  6
3  Cantilever                3                  3
4   Tied Arch                5                  5
5  Suspension                4                  4
6       Cable                2                  2

### One Hot Encoder

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [39]:
enc = OneHotEncoder(handle_unknown='ignore')# ignores unknown categories. 
#The values for unknown categories will be set as 0. If not ignored then it will be null

In [37]:
enc_df=pd.DataFrame(enc.fit_transform(bridge_df[['Bridge_Type_cat']]).toarray())

In [38]:
bridge_df = bridge_df.join(enc_df)
bridge_df

,Bridge_Type,Bridge_Type_cat,Bridge_Type_Label,0,1,2,3,4,5,6
0,Arch,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Beam,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Truss,6,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Cantilever,3,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Tied Arch,5,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,Suspension,4,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,Cable,2,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0