In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('D:/data/workspace/python/warmups/UCSandiego_material/Week-4-Pandas/Week-4-Pandas/movielens/movielens-20m-dataset/movie.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
tags = pd.read_csv('D:/data/workspace/python/warmups/UCSandiego_material/Week-4-Pandas/Week-4-Pandas/movielens/movielens-20m-dataset/tag.csv')
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [4]:
ratings = pd.read_csv('D:/data/workspace/python/warmups/UCSandiego_material/Week-4-Pandas/Week-4-Pandas/movielens/movielens-20m-dataset/rating.csv')
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
movies.max()

movieId         131262
title      貞子3D (2012)
genres         Western
dtype: object

In [5]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [6]:
ratings['rating'].mean()

3.5255285642993797

In [7]:
ratings['rating'].min()

0.5

In [8]:
ratings['rating'].max()

5.0

In [13]:
filter_1=ratings['rating']> 4

filter_1.all()

False

In [14]:
filter_2 = ratings['rating'] > 0
filter_2.all()

True