<a href="https://colab.research.google.com/github/Ravi-Rsankar/python/blob/master/python/data_science/pandas/kaggle_python_for_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basics**

In [0]:
import pandas as pd

R and Python have some libraries (like numpy and pandas) compare each element of the list to 2 (i.e. do an 'element-wise' comparison) and give us a list of booleans like `[False, False, True, True]`. 

Implement a function that reproduces this behaviour, returning a list of booleans corresponding to whether the corresponding element is greater than n.

In [0]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    bL = []
    for i in L:
      bL.append(i > thresh)
    return bL

In [0]:
elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.

In [0]:
def menu_is_boring(meals):
  for i in range(0, len(meals)-1):
    if meals[i] == meals[i+1]:
      return True
  return False

In [0]:
menu_is_boring([1,2,3,4])

False

##**Pandas**

File accessing in colab. Upload the files to the colab

In [0]:
from google.colab import files
uploaded = files.upload()

Saving winemag-data-130k-v2.csv to winemag-data-130k-v2.csv

In [0]:
reviews = pd.read_csv('winemag-data-130k-v2.csv')
reviews.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [9]:
reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [7]:
reviews.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [0]:
pd.set_option('display.max_rows', 5)

### **Indexing, Selecting and Assigning**

Select the `description` column from `reviews` and assign the result to the variable `desc`.

In [10]:
desc = reviews['description']
desc

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
                                ...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [12]:
first_description = reviews['description'][0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [14]:
first_row = reviews.loc[0]
first_row

Unnamed: 0              0
country             Italy
                 ...
variety       White Blend
winery            Nicosia
Name: 0, Length: 14, dtype: object

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.


> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.iloc[0:999]`.

In [23]:
first_descriptions = reviews.loc[:9,'description']
first_descriptions.shape

(10,)

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In [25]:
sample_reviews = reviews.loc[[1,2,3,5,8]]
sample_reviews

   Unnamed: 0   country  ...             variety               winery
1           1  Portugal  ...      Portuguese Red  Quinta dos Avidagos
2           2        US  ...          Pinot Gris            Rainstorm
3           3        US  ...            Riesling           St. Julian
5           5     Spain  ...  Tempranillo-Merlot               Tandem
8           8   Germany  ...      Gewürztraminer          Heinz Eifel

[5 rows x 14 columns]

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`.

In [29]:
df = reviews.loc[[0,1,10,100], ['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

In [35]:
df = reviews.loc[:99, ['country', 'variety']]
print(df)
# using iloc
df = reviews.iloc[:100, [1,12]]
print(df)

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]
     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`. Hint: `reviews.country` equals what?

In [37]:
italian_wines = reviews[reviews['country'] == 'Italy']
italian_wines

        Unnamed: 0 country  ...       variety           winery
0                0   Italy  ...   White Blend          Nicosia
6                6   Italy  ...      Frappato  Terre di Giurfo
...            ...     ...  ...           ...              ...
129961      129961   Italy  ...      Frappato              COS
129962      129962   Italy  ...  Nero d'Avola         Cusumano

[19540 rows x 14 columns]

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [44]:
top_oceania_wines = reviews.loc[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points>=95)]
top_oceania_wines

        Unnamed: 0  ...                       winery
345            345  ...  Chambers Rosewood Vineyards
346            346  ...  Chambers Rosewood Vineyards
...            ...  ...                          ...
122507      122507  ...             Squawking Magpie
122939      122939  ...                     Torbreck

[49 rows x 14 columns]

###**Summary Functions**

In [45]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [46]:
reviews.points.mean()

88.44713820775404

To see a list of unique values we can use the unique() function:

In [47]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method:

In [48]:
reviews.country.value_counts()

US          54504
France      22093
            ...
Slovakia        1
China           1
Name: country, Length: 43, dtype: int64

A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

There are two mapping methods that you will use often.

map() is the first, and slightly simpler one. For example suppose that we wanted to remean the scores the wines received to 0. We can do this as follows:

In [52]:
print(reviews.points.head())
review_points_mean = reviews.points.mean()
print(review_points_mean)
reviews.points.map(lambda p: p - review_points_mean)

0    87
1    87
2    87
3    87
4    87
Name: points, dtype: int64
88.44713820775404

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [0]:
def remean_points(row):
  print(row)
  row.points = row.points - review_points_mean
  return row

reviews.apply(remean_points, axis='columns')

Pandas provides many common mapping operations as built-ins. For example, here's a faster way of remeaning our points column:

In [54]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

join two columns of equal length

In [55]:
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

In [56]:
reviews.points.median()

88.0

idxmax Return the row label of the maximum value.

In [64]:
reviews.loc[reviews.points.idxmax(), ['points']]

points    100
Name: 345, dtype: object

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [67]:
points_price_ratio = (reviews.points) / (reviews.price)
bargain_wine = reviews.loc[points_price_ratio.idxmax(), 'title']
bargain_wine

'Bandit NV Merlot (California)'

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [84]:
n_trop = reviews.description.map(lambda p : 'tropical' in p).sum()
n_fruit= reviews.description.map(lambda p : 'fruity' in p).sum()
descriptor_counts = pd.Series([n_trop, n_fruit], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

In [85]:
reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [90]:
def star_rate(row):
  if row.points >= 95 or row.country=='Canada':
    return 3
  elif row.points >= 85 and row.points <95:
    return 2
  else:
    return 1
star_ratings = reviews.apply(star_rate, axis='columns')

reviews['star_rating'] = star_ratings
reviews.head()

   Unnamed: 0   country  ...               winery star_rating
0           0     Italy  ...              Nicosia           2
1           1  Portugal  ...  Quinta dos Avidagos           2
2           2        US  ...            Rainstorm           2
3           3        US  ...           St. Julian           2
4           4        US  ...         Sweet Cheeks           2

[5 rows x 15 columns]