<a href="https://colab.research.google.com/github/Ravi-Rsankar/python/blob/master/python/data_science/pandas/kaggle_python_for_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basics**

In [1]:
import pandas as pd

R and Python have some libraries (like numpy and pandas) compare each element of the list to 2 (i.e. do an 'element-wise' comparison) and give us a list of booleans like `[False, False, True, True]`. 

Implement a function that reproduces this behaviour, returning a list of booleans corresponding to whether the corresponding element is greater than n.

In [0]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    bL = []
    for i in L:
      bL.append(i > thresh)
    return bL

In [0]:
elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.

In [0]:
def menu_is_boring(meals):
  for i in range(0, len(meals)-1):
    if meals[i] == meals[i+1]:
      return True
  return False

In [0]:
menu_is_boring([1,2,3,4])

False

## **Pandas**

File accessing in colab. Upload the files to the colab

In [0]:
from google.colab import files
uploaded = files.upload()

Saving winemag-data-130k-v2.csv to winemag-data-130k-v2.csv

In [2]:
reviews = pd.read_csv('datasets/wine-reviews/winemag-data-130k-v2.csv')
reviews.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [3]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
reviews.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [0]:
pd.set_option('display.max_rows', 5)

### **Indexing, Selecting and Assigning**

Select the `description` column from `reviews` and assign the result to the variable `desc`.

In [10]:
desc = reviews['description']
desc

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
                                ...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [12]:
first_description = reviews['description'][0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [14]:
first_row = reviews.loc[0]
first_row

Unnamed: 0              0
country             Italy
                 ...
variety       White Blend
winery            Nicosia
Name: 0, Length: 14, dtype: object

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.


> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.iloc[0:999]`.

In [23]:
first_descriptions = reviews.loc[:9,'description']
first_descriptions.shape

(10,)

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In [25]:
sample_reviews = reviews.loc[[1,2,3,5,8]]
sample_reviews

   Unnamed: 0   country  ...             variety               winery
1           1  Portugal  ...      Portuguese Red  Quinta dos Avidagos
2           2        US  ...          Pinot Gris            Rainstorm
3           3        US  ...            Riesling           St. Julian
5           5     Spain  ...  Tempranillo-Merlot               Tandem
8           8   Germany  ...      Gewürztraminer          Heinz Eifel

[5 rows x 14 columns]

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`.

In [29]:
df = reviews.loc[[0,1,10,100], ['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

In [35]:
df = reviews.loc[:99, ['country', 'variety']]
print(df)
# using iloc
df = reviews.iloc[:100, [1,12]]
print(df)

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]
     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`. Hint: `reviews.country` equals what?

In [37]:
italian_wines = reviews[reviews['country'] == 'Italy']
italian_wines

        Unnamed: 0 country  ...       variety           winery
0                0   Italy  ...   White Blend          Nicosia
6                6   Italy  ...      Frappato  Terre di Giurfo
...            ...     ...  ...           ...              ...
129961      129961   Italy  ...      Frappato              COS
129962      129962   Italy  ...  Nero d'Avola         Cusumano

[19540 rows x 14 columns]

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [44]:
top_oceania_wines = reviews.loc[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points>=95)]
top_oceania_wines

        Unnamed: 0  ...                       winery
345            345  ...  Chambers Rosewood Vineyards
346            346  ...  Chambers Rosewood Vineyards
...            ...  ...                          ...
122507      122507  ...             Squawking Magpie
122939      122939  ...                     Torbreck

[49 rows x 14 columns]

###**Summary Functions**

In [45]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [46]:
reviews.points.mean()

88.44713820775404

To see a list of unique values we can use the unique() function:

In [47]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method:

In [48]:
reviews.country.value_counts()

US          54504
France      22093
            ...
Slovakia        1
China           1
Name: country, Length: 43, dtype: int64

A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

There are two mapping methods that you will use often.

map() is the first, and slightly simpler one. For example suppose that we wanted to remean the scores the wines received to 0. We can do this as follows:

In [52]:
print(reviews.points.head())
review_points_mean = reviews.points.mean()
print(review_points_mean)
reviews.points.map(lambda p: p - review_points_mean)

0    87
1    87
2    87
3    87
4    87
Name: points, dtype: int64
88.44713820775404

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [0]:
def remean_points(row):
  print(row)
  row.points = row.points - review_points_mean
  return row

reviews.apply(remean_points, axis='columns')

Pandas provides many common mapping operations as built-ins. For example, here's a faster way of remeaning our points column:

In [54]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

join two columns of equal length

In [55]:
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

In [56]:
reviews.points.median()

88.0

idxmax Return the row label of the maximum value.

In [64]:
reviews.loc[reviews.points.idxmax(), ['points']]

points    100
Name: 345, dtype: object

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [67]:
points_price_ratio = (reviews.points) / (reviews.price)
bargain_wine = reviews.loc[points_price_ratio.idxmax(), 'title']
bargain_wine

'Bandit NV Merlot (California)'

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [84]:
n_trop = reviews.description.map(lambda p : 'tropical' in p).sum()
n_fruit= reviews.description.map(lambda p : 'fruity' in p).sum()
descriptor_counts = pd.Series([n_trop, n_fruit], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

In [85]:
reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [90]:
def star_rate(row):
  if row.points >= 95 or row.country=='Canada':
    return 3
  elif row.points >= 85 and row.points <95:
    return 2
  else:
    return 1
star_ratings = reviews.apply(star_rate, axis='columns')

reviews['star_rating'] = star_ratings
reviews.head()

   Unnamed: 0   country  ...               winery star_rating
0           0     Italy  ...              Nicosia           2
1           1  Portugal  ...  Quinta dos Avidagos           2
2           2        US  ...            Rainstorm           2
3           3        US  ...           St. Julian           2
4           4        US  ...         Sweet Cheeks           2

[5 rows x 15 columns]

Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [8]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [9]:
reviews.groupby('taster_twitter_handle').size()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [15]:
reviews.groupby('price').points.max().sort_index()

price
4.0        86
5.0        87
6.0        88
7.0        91
8.0        91
9.0        91
10.0       91
11.0       92
12.0       93
13.0       94
14.0       94
15.0       93
16.0       94
17.0       93
18.0       94
19.0       94
20.0       96
21.0       94
22.0       95
23.0       94
24.0       95
25.0       95
26.0       95
27.0       96
28.0       96
29.0       96
30.0       96
31.0       95
32.0       96
33.0       94
         ...
698.0      97
710.0      95
750.0      92
757.0      98
764.0      94
767.0      96
770.0      96
775.0      98
780.0      91
790.0      87
800.0      99
820.0      96
848.0     100
850.0      99
886.0      97
900.0      94
932.0      97
973.0      95
980.0      94
1000.0     97
1100.0     97
1125.0     94
1200.0     96
1300.0     96
1500.0    100
1900.0     98
2000.0     97
2013.0     91
2500.0     96
3300.0     88
Name: points, Length: 390, dtype: int64

What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [16]:
reviews.groupby('variety').price.agg([min, max])

                         min    max
variety
Abouriou                15.0   75.0
Agiorgitiko             10.0   66.0
Aglianico                6.0  180.0
Aidani                  27.0   27.0
Airen                    8.0   10.0
Albana                  12.0   50.0
Albanello               20.0   20.0
Albariño                10.0   75.0
Albarossa               40.0   40.0
Aleatico                25.0   55.0
Alfrocheiro             11.0   50.0
Alicante                10.0   30.0
Alicante Bouschet        7.0  150.0
Aligoté                 13.0   36.0
Alsace white blend      10.0   98.0
Altesse                 15.0   19.0
Alvarelhão              18.0   24.0
Alvarinho                9.0   75.0
Alvarinho-Chardonnay     9.0   15.0
Ansonica                22.0   30.0
Antão Vaz               11.0   30.0
Apple                   25.0   33.0
Aragonez                10.0   35.0
Aragonês                14.0   70.0
Argaman                 36.0   48.0
Arinto                   7.0   55.0
Arneis                  14.0   40.0
Asprinio                15.0   15.0
Assyrtico               12.0   40.0
Assyrtiko               12.0   36.0
...                      ...    ...
Viognier-Marsanne       16.0   28.0
Viognier-Roussanne      14.0   65.0
Viognier-Valdiguié      17.0   17.0
Viosinho                16.0   35.0
Vital                    NaN    NaN
Vitovska                23.0   85.0
Viura                    7.0   80.0
Viura-Chardonnay         9.0   14.0
Viura-Verdejo           11.0   13.0
Vranac                  11.0   11.0
Vranec                  13.0   20.0
Weissburgunder          15.0   45.0
Welschriesling          12.0   75.0
White Blend              4.0  375.0
White Port              40.0   40.0
White Riesling           7.0   40.0
Xarel-lo                12.0   30.0
Xinisteri               20.0   20.0
Xinomavro               13.0   38.0
Xynisteri               16.0   21.0
Yapincak                16.0   20.0
Zelen                    NaN    NaN
Zibibbo                 19.0   60.0
Zierfandler             15.0   42.0
Zierfandler-Rotgipfler  20.0   25.0
Zinfandel                5.0  100.0
Zlahtina                13.0   16.0
Zweigelt                 9.0   70.0
Çalkarası               19.0   19.0
Žilavka                 15.0   15.0

[707 rows x 2 columns]

What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [38]:
price_extreme = reviews.groupby('variety').price.agg([min, max])
price_extreme=price_extreme.sort_values(['min', 'max'], ascending=False)
print(price_extreme)

                                  min     max
variety
Ramisco                         495.0   495.0
Terrantez                       236.0   236.0
Francisa                        160.0   160.0
Rosenmuskateller                150.0   150.0
Tinta Negra Mole                112.0   112.0
Pignolo                          70.0    70.0
Syrah-Cabernet Franc             60.0    69.0
Garnacha-Cariñena                57.0    57.0
Doña Blanca                      53.0    53.0
Cercial                          50.0    50.0
Mavrotragano                     50.0    50.0
Sercial                          50.0    50.0
Pugnitello                       49.0    49.0
Malbec-Cabernet                  45.0   165.0
Tinta del Pais                   45.0    50.0
Touriga                          45.0    46.0
Babosa Negro                     45.0    45.0
Cabernet Sauvignon-Barbera       45.0    45.0
Syrah-Grenache-Viognier          45.0    45.0
Tinta Madeira                    45.0    45.0
Vermentino Nero                  45.0    45.0
Malbec-Carménère                 43.0    43.0
Madeira Blend                    42.0    49.0
Albarossa                        40.0    40.0
Colorino                         40.0    40.0
Favorita                         40.0    40.0
Früburgunder                     40.0    40.0
Moscato di Noto                  40.0    40.0
Riesling-Chardonnay              40.0    40.0
Ryzlink Rýnský                   40.0    40.0
...                               ...     ...
Portuguese Red                    5.0   450.0
Malbec                            5.0   400.0
Garnacha                          5.0   290.0
Sparkling Blend                   5.0   250.0
Sauvignon Blanc                   5.0   135.0
Zinfandel                         5.0   100.0
Portuguese White                  5.0    95.0
Moscato                           5.0    90.0
Primitivo                         5.0    80.0
Shiraz-Cabernet Sauvignon         5.0    80.0
Glera                             5.0    75.0
Malbec-Bonarda                    5.0    33.0
Chardonnay                        4.0  2013.0
Syrah                             4.0   750.0
Cabernet Sauvignon                4.0   625.0
Merlot                            4.0   625.0
Tempranillo                       4.0   600.0
White Blend                       4.0   375.0
Malbec-Syrah                      4.0    78.0
Pinot Grigio                      4.0    70.0
Bacchus                           NaN     NaN
Biancu Gentile                    NaN     NaN
Ekigaïna                          NaN     NaN
Espadeiro                         NaN     NaN
Petit Meslier                     NaN     NaN
Roscetto                          NaN     NaN
Sauvignon Blanc-Sauvignon Gris    NaN     NaN
Tempranillo-Malbec                NaN     NaN
Vital                             NaN     NaN
Zelen                             NaN     NaN

[707 rows x 2 columns]

Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [41]:
reviews.groupby('taster_name').points.mean()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [43]:
reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

country     variety
US          Pinot Noir                    9885
            Cabernet Sauvignon            7315
            Chardonnay                    6801
France      Bordeaux-style Red Blend      4725
Italy       Red Blend                     3624
US          Syrah                         3244
            Red Blend                     2972
France      Chardonnay                    2808
Italy       Nebbiolo                      2736
US          Zinfandel                     2711
Portugal    Portuguese Red                2466
US          Merlot                        2311
Italy       Sangiovese                    2265
US          Sauvignon Blanc               2163
France      Pinot Noir                    1966
            Rosé                          1923
US          Bordeaux-style Red Blend      1824
Germany     Riesling                      1790
US          Riesling                      1753
Argentina   Malbec                        1510
Spain       Tempranillo                   1429
France      Champagne Blend               1243
Austria     Grüner Veltliner              1234
Portugal    Portuguese White              1159
France      Bordeaux-style White Blend    1021
            Gamay                         1020
US          Cabernet Franc                1003
France      Sauvignon Blanc                933
US          Rosé                           907
            Pinot Gris                     868
                                          ...
Italy       Bombino Nero                     1
            Biancolella                      1
            Biancale                         1
            Albanello                        1
Israel      White Riesling                   1
            Syrah-Viognier                   1
            Syrah-Merlot                     1
            Sauvignon Blanc-Semillon         1
Italy       Grenache                         1
            Malvar                           1
            Merlot-Cabernet                  1
            Molinara                         1
Macedonia   Chardonnay                       1
Luxembourg  White Blend                      1
            Auxerrois                        1
Lebanon     Rhône-style Red Blend            1
            Chardonnay                       1
Italy       Vespaiolo                        1
            Vermentino Nero                  1
            Tintilia                         1
            Teroldego Rotaliano              1
            Tannat                           1
            Sémillon                         1
            Silvaner                         1
            Roscetto                         1
Uruguay     Tempranillo-Tannat               1
Italy       Pignolo                          1
            Muscat                           1
            Moscato di Noto                  1
Argentina   Barbera                          1
Length: 1612, dtype: int64